<body>

<form action="${base}/products" method="post">
<input type="hidden" name="product.id" value="${product.id}">
<div class="field">
    Name:<br />
    <input type="text" name="product.name" value="${product.name}">
  </div>
  <div class="actions">
    <input type="submit" value="save">
  </div>
</form>

<%= link_to 'Back', clients_path %>
	
</body>

