<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <@html.css "application"/>
    <title>Vraptor Scaffold</title>
    ${head}
  </head>

  <body>
    ${body}
    <%
      jquery_file = File.join(destination_root, Configuration::WEB_APP, "javascripts", "jquery.min.js")
      if (File.exists?(jquery_file))
    %><@html.js "jquery.min"/>
    <% end %><@html.js "application"/>
  </body>
</html>
